body{

    background:#eef3fb;

    font-family:Arial, Helvetica, sans-serif;

}

.sidebar{

    background:#0d6efd;

    min-height:100vh;

}

.sidebar h2{

    color:white;

}

.sidebar small{

    color:#dbeafe;

}

.menu{

    display:block;

    color:white;

    text-decoration:none;

    padding:12px 15px;

    margin-bottom:8px;

    border-radius:10px;

    transition:.3s;

}

.menu:hover{

    background:white;

    color:#0d6efd;

    padding-left:20px;

}

.active{

    background:white;

    color:#0d6efd;

}

.logout{

    display:block;

    margin-top:40px;

    color:#ffe5e5;

    text-decoration:none;

    padding:12px 15px;

}

.logout:hover{

    color:white;

}

.topbar{

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:0 0 15px rgba(0,0,0,.08);

}

.dashboard-card{

    background:white;

    border-radius:15px;

    padding:25px;

    text-align:center;

    box-shadow:0 0 15px rgba(0,0,0,.08);

}

.card-icon{

    font-size:35px;

    color:#0d6efd;

    margin-bottom:10px;

}

.card{

    border:none;

    border-radius:15px;

}